[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
jedi="*"

[packages]
pandas = "*"
argparse = "*"
pathlib = "*"
toml = "*"

[requires]
python_version = "3.8"

[scripts]
t2d='python3 src/toml2sqlite3.py'
